<ion-nav-bar class="bar-positive" ng-controller="AppHeaderCtrl">
<!--ion-nav-buttons side="left">
<button class="button-navheader" ng-click="openModal1()">
	<img class="news-visual" src="img/header/info.png" >
</button>
</ion-nav-buttons>	
<ion-nav-buttons side="right">
<button class="button-navheader" ng-click="doSomething()">
	<img class="news-visual" src="img/header/error.png" ng-click="openModal2()">
</button>
</ion-nav-buttons-->	
</ion-nav-bar>
<ion-view view-title="News eCOM SITB 2015">
<ion-content>
<div ng-if="isError" class="info-banner info-banner-medium info-banner-warning">
	<div class="info-banner-icon"><img class="info-visual" src="img/info/error.png"></div>
	<div class="info-banner-text info-banner-text-medium">
	<div class="info-banner-text-label">Vous n'avez pas d'accès réseau, veuillez vous connecter au réseau pour obtenir les dernières informations.</div>	
	</div>
</div>
<div ng-repeat="news in ecomnews"> 
<div class="news-banner banner-score">
	<div class="news-banner-icon"><img class="news-visual" src="{{getCategoryIcon(news.type)}}"></div>
	<div class="news-banner-text">
	<div class="news-banner-text-label" ng-bind-html="news.titleText"></div>
	</div>
</div>
<div class="news-banner-date" ng-bind-html="formatDate(news.timestamp)"></div>
<div class="news-banner-header" ng-bind-html="news.headerText"></div>
<div class="news-banner-body" ng-bind-html="news.articleText"></div>
</div>
</ion-content>
</ion-view>
