<ion-view view-title="Trophées" >
  

  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider news-header">Votre score : {{totalpoints}} point(s)</div>
      <div class="item item-body">
        <div>
        Vous avez {{totalpoints}} point(s)! <br/>
        {{nextStep}}</b>
        </div>
      </div>
    </div>

    <div ng-repeat="item in listInfoGrantedTrophies  | unique:'id'" class="list card">
      <div class="item item-divider news-header">{{ item.points }} points</div>
      <div class="item item-body">
        <div>{{ item.description }}</div>
      </div>
    </div>

  </ion-content>

</ion-view>