<ion-view view-title="Trophées" >
  

  <ion-content>
<div class="grid-reset col">  
<div class="trophy-banner trophy-score">
	<div class="news-banner-icon"><img class="news-visual" src="img/types/trophy_star.png"></div>
	<div class="news-banner-text">
	<div class="news-banner-text-label"><b>Votre score : {{totalpoints}} points</b></div>
	<div class="news-banner-text-label">
        Bravo votre score est de {{totalpoints}} points! <br/>
        {{nextStep}}</b>
	</div>
	</div>
</div>
</div>
<div class="grid-reset col">
<div ng-repeat="item in listInfoGrantedTrophies  | unique:'id'">
<div class="trophy-banner-score">{{ item.points }} points</div>
<div class="trophy-banner">
	<div class="news-banner-icon"><img class="news-visual" src="{{getCategoryIcon(item.type)}}"></div>
	<div class="news-banner-text">
	<div class="news-banner-text-label">{{ item.description }}</div>
	</div>
</div>
</div>
</ion-content>
</ion-view>