<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

	<!-- Cross Ecom  Tab -->
	<ion-tab title="Salon" icon-off="icon-dwpchat" icon-on="icon-dwpchat" href="#/tab/cross-ecom">
		<ion-nav-view name="tab-cross-ecom"></ion-nav-view>
	</ion-tab>

	<!-- Cross News  Tab -->
	<ion-tab title="News" icon-off="icon-dwpelectronic-megaphone" icon-on="icon-dwpelectronic-megaphone" href="#/tab/cross-news">
		<ion-nav-view name="tab-cross-news"></ion-nav-view>
	</ion-tab>

	<!-- Trophies Tab -->
	<ion-tab title="Trophées" icon-off="icon-dwptrophy" icon-on="icon-dwptrophy" href="#/tab/trophies">
		<ion-nav-view name="tab-trophies"></ion-nav-view>
	</ion-tab>

	<!-- Leaderboard  Tab -->
	<ion-tab title="Scores" icon-off="icon-dwpwinners-podium" icon-on="icon-dwpwinners-podium" href="#/tab/leaderboard">
		<ion-nav-view name="tab-leaderboard"></ion-nav-view>
	</ion-tab>

	<!-- Profile  Tab -->
	<ion-tab title="Profile" icon-off="icon-dwpuser" icon-on="icon-dwpuser" href="#/tab/profile">
		<ion-nav-view name="tab-profile"></ion-nav-view>
	</ion-tab>

</ion-tabs>
