<ion-view view-title="Inscription">
<ion-content>
<div class="row">
  <div class="col">
    <a nav-transition="none" class="usermgt-link" href="/#/tab/profilelostpassword">Mot de passe oublié ?</a>
  </div>
  <div class="col" align="right">
    <a nav-transition="none" class="usermgt-link" href="/#/tab/profilelogin">Connexion</a>
  </div>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" ng-model="newuser.username" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="password" ng-model="newuser.password" placeholder="Mot de passe">
  </label>
  <label class="item item-input">
    <input type="text" ng-model="newuser.nickname" placeholder="Nom d'utilisateur">
  </label>
</div>
<div class="row">
  <div class="col">
    <button class="button button-block button-positive" ng-click="registerUser(newuser)" >S'inscrire</button>
  </div>
</div>
</ion-content>
</ion-view>
