<ion-view view-title="Connectez-vous">
<ion-content>
<div class="info-banner">
	<div class="info-banner-icon"><img class="info-visual" src="img/info/notlogged.png"></div>
	<div class="info-banner-text">
	<div class="info-banner-text-label">Vous n'êtes pas connecté.</div>	
	<div class="info-banner-text-label">&nbsp;</div>	
	</div>
</div>
<div class="row">
  <div class="col">
    <a nav-transition="none" class="usermgt-link" href="#/tab/profilelostpassword">Mot de passe oublié ?</a>
  </div>
  <div class="col" align="right">
    <a nav-transition="none" class="usermgt-link" href="#/tab/profileregister">Créer un compte</a>
  </div>
</div>
<form name="signinForm" novalidate="" ng-submit="signIn(signinForm)" >
<div class="list">
<label class="item item-input" ng-class="{ 'has-error' : signinForm.username.$invalid }" >
<input type="email" 
placeholder="Email"
name="username"

ng-model="user.username"
required>				
</label>
<div class="form-errors" ng-messages="signinForm.username.$error" ng-messages-include="templates/form-errors.html">  
<div class="form-error" ng-message="maxlength">Ce champ est obligatoire</div>  

<label class="item item-input" ng-class="{ 'has-error-lr' : signinForm.password.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.password.$valid  && signinForm.$submitted}">
<input type="password" 
name="password" 
placeholder="Password"
ng-model="user.password" 
required>
</label>
<div class="form-errors"  
ng-show="signinForm.password.$error && signinForm.$submitted"
ng-messages="signinForm.password.$error"
ng-messages-include="templates/form-errors.html">
</div>  
</div>

<div class="padding">
<button class="button button-block button-positive">Connexion</button>
<p class="text-center">
<a class="usermgt-link" href="#/forgot-password">Mot de passe oublié ?</a>
</p>
</div>
</form>
</ion-content>
</ion-view>
