<ion-view view-title="Réinitialisation du mot de passe">
<ion-content padding="true">
  <p>
	Si vous avez oublié votre mot de passe, nous pouvons le réinitialiser . Pour cela il faut nous fournir votre adresse email.
  </p>
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Adresse email</span>
			<input type="text" ng-model="user.email">
		</label>
	</div>
	<div class="padding">
	<button class="button button-block button-positive" ng-click="authUser(user)">Réinitialiser le mot de passe</button>
	<p class="text-center">
		retourner à la <a href="#/sign-in">connexion</a>.
	</p>
	</div>
  <p>
  </p>
</ion-content>
</ion-view>