<ion-view view-title="Profil">
<ion-content>
<!--<div class="row">

<br/>
Vous devez vous connecter pour accéder à votre profil. 
<br/>
<br/>
<br/>
</div>-->
<div class="row">
  <div class="col">Vous êtes connecté.</div>
</div>
<div class="list" id="profile">
  <label class="item item-input item-stacked-label">
	<span class="input-label">Email</span>
    <input type="text" ng-model="user.username" placeholder="Email">
  </label>
  <label class="item item-input item-stacked-label">
	<span class="input-label">Nom d'utilisateur</span>
    <input type="text" ng-model="user.nickname" placeholder="Nom d'utilisateur">
  </label>
</div>
<div class="row">
  <div class="col">
    <button class="button button-block button-positive" ng-click="signOutUser(user)">Déconnexion</button>
  </div>
</div>
<div class="row">
  <div class="col">
	<p class="text-center"><a nav-transition="none" class="usermgt-link" href="#/tab/userchangepassword">Changer</a> de mot de passe.</p>
  </div>
</div>


</ion-content>
</ion-view>
