<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Changer de mot de passe">
<ion-content>
<div class="info-banner info-banner-medium">
	<div class="info-banner-icon"><img class="info-visual" src="img/info/resetpass.png"></div>
	<div class="info-banner-text info-banner-text-medium">
	<div class="info-banner-text-label">Veuillez saisir votre nouveau mot de passe dans les <b>deux</b> champs ci-dessous.</div>	
	</div>
</div>
<form name="passwordForm" novalidate="" ng-submit="updateUserPassword(passwordForm)" >
<div class="list">
<label class="item item-input" ng-class="{ 'has-error-lr' : passwordForm.password1.$invalid  && passwordForm.$submitted, 'valid-lr' : passwordForm.password1.$valid  && passwordForm.$submitted}">
<span class="input-label">Mot de Passe</span>
<input 	type="password" 
		name="password1"
		ng-model="form.pwd1"
		required>
</label>
<div class="form-errors"  
ng-show="passwordForm.password1.$error && passwordForm.$submitted"
ng-messages="passwordForm.password.$error"
ng-messages-include="templates/form-errors.html">
</div>  
<label class="item item-input" ng-class="{ 'has-error-lr' : passwordForm.password2.$invalid  && passwordForm.$submitted, 'valid-lr' : passwordForm.password2.$valid  && passwordForm.$submitted}">
<span class="input-label">Mot de passe (vérification)</span>
<input 	type="password" 
		name="password2"	
		ng-model="form.pwd2"
		required>
</label>
<div class="form-errors"  
ng-show="passwordForm.password2.$error && passwordForm.$submitted"
ng-messages="passwordForm.password.$error"
ng-messages-include="templates/form-errors.html">
</div>  

</div>
<div class="padding">
<button class="button button-block button-positive" ng-click="updateUserPassword(form)">Mise à jour</button>
</div>
</form>
<div class="row">
<div class="col">
<p class="text-center">
retourner au <a nav-transition="none" class="usermgt-link" href="#/tab/profile">profil</a>.
</p>
</div>
</div>
</ion-content>
</ion-view>
