<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Changer de mot de passe">
<ion-content>
<div class="info-banner info-banner-medium">
	<div class="info-banner-icon"><img class="info-visual" src="img/info/resetpass.png"></div>
	<div class="info-banner-text">
	<div class="info-banner-text-label">Veuillez saisir votre nouveau mot de passe dans les <b>deux</b> champs ci-dessous.</div>	
	</div>
</div>
<div class="list">
<label class="item item-input">
<span class="input-label">Mot de Passe</span>
<input type="password" ng-model="form.pwd1">
</label>
<label class="item item-input">
<span class="input-label">Mot de passe (vérification)</span>
<input type="password" ng-model="form.pwd2">
</label>
</div>
<div class="padding">
<button class="button button-block button-positive" ng-click="updateUserPassword(form)">Mise à jour</button>
</div>
<div class="row">
<div class="col">
<p class="text-center">
retourner à la <a nav-transition="none" class="usermgt-link" href="#/tab/profilelogin">connexion</a>.
</p>
</div>
</div>
</ion-content>
</ion-view>
