<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Réinitialiser le mot de passe">
<ion-content>
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Mot de Passe</span>
			<input type="password" ng-model="form.pwd1">
		</label>
		<label class="item item-input">
			<span class="input-label">Mot de passe (vérification)</span>
			<input type="password" ng-model="form.pwd2">
		</label>
	</div>
	<div class="padding">
	<button class="button button-block button-positive" ng-click="updateUserPassword(form)">Mise à jour</button>
	</div>
</ion-content>
</ion-view>
