<ion-view view-title="Bienvenue">
<ion-nav-buttons side="left">
  <button class="button button-positive button-clear no-animation"
		  ng-click="signIn()" ng-show="!slideIndex">
	Passer
  </button>
  <button class="button button-positive button-clear no-animation"
		  ng-click="previous()" ng-show="slideIndex > 0">
	Précédent
  </button>
</ion-nav-buttons>
<ion-nav-buttons side="right"> 
  <button class="button button-positive button-clear no-animation"
		  ng-click="next()" ng-show="slideIndex != 2">
	Suivant
  </button>
  <button class="button button-positive button-clear no-animation"
		  ng-click="signIn()" ng-show="slideIndex == 2">
	Commencer
  </button>
</ion-nav-buttons>
<ion-slide-box on-slide-changed="slideChanged(index)">
<ion-slide>
<div class="row">
	<div class="col"><img id="welcome-visual-step1" src="img/welcome/wizard-step-1@2x.png"></div>
</div>
<div class="row">
  <div class="col"><h4 class="welcome-title">{{labels[0].content}}</h4></div>
</div>
<div class="row welcome-content">
  <div class="col">
	<p class="welcome-directives">{{labels[1].content}}</p>
	<p class="welcome-directives">{{labels[2].content}}</p>  
  </div>
</div>
<div class="bar bar-footer bar-stable">
  <button class="button button-icon icon ion-information-circled"></button>
  <div class="title indice">{{labels[3].content}}</div>
</div>
</ion-slide>
<ion-slide>
<div class="row">
	<div class="col"><img id="welcome-visual-step2" src="img/welcome/wizard-step-2@2x.png"></div>
</div>
<div class="row welcome-content">
	<div class="col"><h4 class="welcome-title">{{labels[4].content}}</h4></div>
</div>
<div class="row welcome-content">
	<div class="col">
	<p class="welcome-directives">{{labels[5].content}}</p>
	<ul class="welcome-list">
	<li>1. Enregistrez-vous (500 points)</li>
	<li>2. Gagnez des points en participant à nos conférences (4000 points / conférence)</li>
	<li>3. Rendez-nous visite sur le stand B12 au SITB, eCOM et gagnez encore plus de points (1000 points)</li>
	<li>4. Participez à notre jeu et pulvérisez votre score</li>
	<li>5. Passez à la caisse pour comptabiliser vos points totaux et participer au tirage au sort.</li>
	</ul>
	</div>
</div>
<div class="bar bar-footer bar-stable">
  <button class="button button-icon icon ion-information-circled"></button>
  <div class="title indice">{{labels[7].content}}</div>
</div>
</ion-slide>
<ion-slide>
<div class="row">
	<div class="col"><img id="welcome-visual-step3" src="img/welcome/wizard-step-3@2x.png"></div>
</div>
<div class="row welcome-content">
	<div class="col"><h4 class="welcome-title">{{labels[8].content}}</h4></div>
</div>

<p class="welcome-directives">{{labels[9].content}}</p>
<p class="welcome-directives">{{labels[10].content}}</p>
<div class="bar bar-footer bar-stable">
  <button class="button button-icon icon ion-information-circled"></button>
  <div class="title indice">{{labels[11].content}}</div>
</div>
</ion-slide>
</ion-slide-box>
</ion-view>