<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.crossagency.beaconandnotification" version="1.0.0">
  <name>dwp-app</name>
  <description>Find Beacons and Notify.</description>
  <author href="http://phonegap.com" email="support@phonegap.com">CrossAgencyTeam</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="handset"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="pl.makingwaves.estimotebeacons" source="plugins.cordova.io" version="0.6.0" />
  <gap:plugin name="org.chromium.bluetooth" source="plugins.cordova.io" version="1.1.2" />
  <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.1" />
 <!-- Allow conf Privacy Iphone -->
  <gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="false">
      <string>Cross Beacon Finder.</string>
  </gap:config-file>
  <icon src="icon.png"/>
  <icon src="icon-29@2x.png" gap:platform="ios" width="58" height="58"/>
  <icon src="icon-29@3x.png" gap:platform="ios" width="87" height="87"/>
  <icon src="icon-40@2x.png" gap:platform="ios" width="80" height="80"/>
  <icon src="icon-40@3x.png" gap:platform="ios" width="120" height="120"/>
  <icon src="icon-60@2x.png" gap:platform="ios" width="120" height="120"/>
  <icon src="icon-60@3x.png" gap:platform="ios" width="180" height="180"/>
  <gap:splash src="www/res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
  <gap:splash src="www/res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
  <gap:splash src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136"/>
  <gap:splash src="www/res/screen/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024"/>
  <gap:splash src="www/res/screen/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768"/>
  <access origin="*"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>