@font-face {
	font-family: 'dwp-icons';
	src:url('../fonts/dwp-icons/dwp-icons.eot?gdddqc');
	src:url('../fonts/dwp-icons/dwp-icons.eot?#iefixgdddqc') format('embedded-opentype'),
		url('../fonts/dwp-icons/dwp-icons.woff?gdddqc') format('woff'),
		url('../fonts/dwp-icons/dwp-icons.ttf?gdddqc') format('truetype'),
		url('../fonts/dwp-icons/dwp-icons.svg?gdddqc#dwp-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-dwp-"], [class*=" icon-dwp-"] {
	font-family: 'dwp-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.icon-dwp-wrist-watch-square:before {
	content: "\e63b";
}

.icon-dwp-sand-timer:before {
	content: "\e61a";
}

.icon-dwp-digital-time:before {
	content: "\e615";
}

.icon-dwp-iphone:before {
	content: "\e604";
}

.icon-dwp-light:before {
	content: "\e623";
}

.icon-dwp-light-bulb:before {
	content: "\e624";
}

.icon-dwp-light-bulb-on:before {
	content: "\e625";
}

.icon-dwp-chat:before {
	content: "\e606";
}

.icon-dwp-electronic-megaphone:before {
	content: "\e612";
}

.icon-dwp-trophy:before {
	content: "\e62b";
}

.icon-dwp-trophy-star:before {
	content: "\e62c";
}

.icon-dwp-winners-podium:before {
	content: "\e631";
}

.icon-dwp-user:before {
	content: "\e600";
}

.icon-dwp-jogging:before {
	content: "\e614";
}

.icon-dwp-jogging:before {
	content: "\e614";
}

.icon-dwp-arrow-right:before {
	content: "\e608";
}

