/* Empty. Add your own CSS if you like 

blue : #37b0dc
*/

.tab-nav.tabs {
  background-color: #37b0dc;
  border-color: #fff;
  color: #fff;
}

.grid-reset.col {
	padding: 0px;
}
.dev {
	font-family: "Courier New";
	font-size: 10px;
	
}
.small-info {
	color: #999;
	margin-left: 20px;
	padding-top: 5px;
	font-size: 13px;
}

/* form validation */
/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}
/* // form validation */

h1, .h1 {
  font-size: 14px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-navheader {
	border: 0px;
	background-color: #37b0dc;
}

.button.button-light.button-clear {
color: #fff !important;
}

/*
yellow				ffb60f	ffcb55
lagoon green  		36d7b7	6bdac4
gray				e5e3df	ededed
blue				6abfde	a4d4e5
green 				9ed790	bbe4b1
violet				d88fd3
*/

.slider-slide {
	padding-top:46px !important;
}

.trophy-score {
	background-color : #d64a73 !important;
}

.trophy-banner {
	width: 100%;
	min-height:63px;
	text-align: left;
	background-color:#ada8a2;
	padding-top: 15px;
	padding-right:10px;
	padding-bottom: 15px;
	margin-bottom: 40px;
}
.trophy-banner-score {
	width: 100%;
	min-height:26px;
	text-align: left;
	color: #fff;
	background-color:#d64a73;
	padding-top: 5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 10px;
	font-size:16px;
	letter-spacing:1px;
	font-weight: 500;
	
}
.news-banner {
	width: 100%;
	min-height:63px;
	text-align: left;
	background-color:#76c2de;
	padding-top: 15px;
	padding-right:10px;
	padding-bottom: 15px;
}
.news-banner-date {
	width: 100%;
	min-height:26px;
	text-align: right;
	color: #333;
	background-color:#ede9e5;
	padding-top: 5px;
	padding-right:10px;
	padding-bottom: 0px;
	font-size:12px;
	letter-spacing:1px;
	font-weight: 200;
}
.news-banner-header {
	width: 100%;
	min-height:34px;
	text-align: justify;
	font-size:14px;
	font-weight: bold;
	letter-spacing:-0.5px;
	color: #222;
	background-color:#fff;
	padding-top: 10px;
	padding-left:15px;
	padding-right:15px;
}
.news-banner-body {
	width: 100%;
	min-height:34px;
	text-align: justify;
	font-size:14px;
	letter-spacing:-0.5px;
	color: #222;
	background-color:#fff;
	padding-top: 10px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.news-banner-icon {
	position: absolute;
	padding-left:10px;
}
.news-visual {
  padding:0px;
  margin:0px;
  width: 22px;
  height: 22px;
 }
.info-banner-text {
	width: 100%;
	padding-top: 25px;
	padding-right: 5px;
}
.news-banner-text-label {
	color: #fff;
	font-size:14px;
	letter-spacing:1px;
	padding-left:45px;
	width: 100%;
	text-align: left;
	font-weight: 300;
    line-height: 1.25;
}
.news-banner-text-label b {
	font-weight: 250;
}
.info-banner-warning {
	background-color:#ff5a37 !important;
}
.info-banner-ok {
	background-color:#76c2de !important;
}



.input-label {
	color: #666;
	font-size: 14px;
}

.info-banner {
	width: 100%;
	height:63px;
	text-align: left;
	background-color:#6abfde;
	margin-bottom:	15px;
}
.info-banner-high {
	height:123px;
}
.info-banner-medium {
	height:80px;
}

.info-banner-icon {
	position: absolute;
	padding:15px;
}

.info-visual {
  padding:0px;
  margin:0px;
  width: 33px;
  height: 33px;
 }

.info-banner-text {
	width: 100%;
	position:absolute;
	padding-top: 25px;	
}
.info-banner-text-high, .info-banner-text-medium {
	padding-top: 15px;	
}

.info-banner-text-label {
	color: #fff;
	font-size:14px;
	letter-spacing:1px;
	padding-left:60px;
	width: 100%;
	text-align: left;
	font-weight: 200;
    line-height: 1.25;
}
.info-banner-text-label b {
	font-weight: 250;
}


.button.button-positive.button-clear {
  color: #37b0dc;
}
.item {
  font-size: 13px;
}

.card {
	box-shadow: none;
}

.item-body h1{
  font-size: 14px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button.button-positive {
  border-color: #37b0dc;
  background-color: #37b0dc;
}


.bar .title {
  font-weight: 300;	
}

.bar.bar-header.bar-positive {
	color: #fff;
	border-color: #fff;
	background-color: #37b0dc;	
}
.bar.bar-light .title {
  /* color:#37b0dc; */
}


.news-header {
	padding: none;
	margin: none;
	color: #fff;
	background-color:#999;
	font-weight:300;
}

.news-title {
	font-weight:300;
}
.news-article {
	text-align: justify;
	color: #fff;
	font-weight:250;
	font-size:12px;
	}
.usermgt-link {
  color:#37b0dc;
  font-weight:300;
  outline: 0;
  text-decoration: none;
}


body > ion-nav-view > ion-tabs > div{
  background : #37b0dc;
}

div.list.list-inset{
 margin-top : 0;
}

.tab-item .icon {
	font-size: 28px;
}

.welcome-banner {
	width: 100%;
	height:100px;
	text-align: left;
	background-color:#37b0dc;
}


.welcome-banner-title {
  padding:0px;
  margin:0px;
	border: white;
	color: #fff;
	height:100px;
	font-size: 20px;
	font-weight: 200;
    line-height: 1.2;
	background : #37b0dc;
	position: relative;	
}

.welcome-banner-icon {
	position:absolute;
}
.welcome-banner-text {
	width: 100%;
	position:absolute;
	padding-top: 25px;
	
}
.welcome-banner-text-label {
	color: #fff;
	font-size:22px;
	letter-spacing:1px;
	padding-right:20px;
	width: 100%;
	text-align: right;
	font-weight: 200;
    line-height: 1.25;
}
.welcome-banner-text-label b {
	font-weight: 350;
}
.welcome-visual {
  padding:0px;
  margin:0px;
  width: 50px;
  height: 100px;
  background-color:#37b0dc;
  align: left;
}
.welcome-directives {
	padding: 5px;
}  

.welcome-title {
  color:#37b0dc;
  font-size: 24px;
  font-weight: 200;
  }
  

.welcome-list-item {
	width: 30px;
	height: 30px;
	border-radius:50%;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:10px;
	padding-top:4px;
	background-color:#37b0dc;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.welcome-icon-big {
	font-weight: 100;
	line-height: 1;
	color:#37b0dc;
	font-size:70px;
}

.welcome-list-text {
	font-size: 14px;
	text-align: center;
}

.info-message {
	color: #fff;
	background-color:#37b0dc;
	text-align: center;
	padding: 20px;
}

#welcome-visual-step1 {
	width: 100px;
	height: 100px;
}
#welcome-visual-step2 {
	width: 100px;
	height: 100px;
}
#welcome-visual-step3 {
	width: 100px;
	height: 100px;
}

/* LeaderBoard Screen */
.score-list-score {
  float:right;
  font-weight: 300;
}

.score-list-nickname {
  float:left;
  font-weight: 500;
}



.bar .title.indice {
	text-align: left;
	margin-left: 50px;
	padding-left: 5px;
	font-size:12px;
}

.bar-subheader {
  top: 44px;
  display: block;
  color:#fff;
  background-color:#37b0dc;
  height: 120px; 
  padding:0px;
  margin:0px
  }


@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open_sans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open_sans/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/open_sans/OpenSans-Regular-webfont.woff2") format('woff2'), url("../fonts/open_sans/OpenSans-Regular-webfont.woff") format('woff'), url("../fonts/open_sans/OpenSans-Regular-webfont.ttf") format('truetype'), url("../fonts/open_sans/OpenSans-Regular-webfont.svg#open_sansregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('./fonts/open_sans/OpenSans-Light-webfont.eot');
    src: url('./fonts/open_sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/open_sans/OpenSans-Light-webfont.woff2') format('woff2'),
         url('./fonts/open_sans/OpenSans-Light-webfont.woff') format('woff'),
         url('./fonts/open_sans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('./fonts/open_sans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body * {
  font-family: 'Helvetica Neue', 'open_sanslight', Helvetica, Arial, sans-serif;
  /*font-weight: bold;*/
  /*letter-spacing: 0.05em;*/
 }
 
/* Jeremy

h1,
.h1 {
  font-size: 24px;
  padding-bottom: 15px;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
#logo {
  margin: 30px 0px;
}
#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
.button.ng-hide {
  display: none;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url("http://fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1CV4QaRhHkZLZrsruvIjJ6Xo.woff") format('woff');
}

@font-face {
  font-family: 'Molengo';
  font-style: normal;
  font-weight: 400;
  src: local('Molengo'), local('Molengo-Regular'), url("http://fonts.gstatic.com/s/molengo/v7/2v3ScQ0eE96oPRRr3d-FjgLUuEpTyoUstqEm5AMlJo4.woff") format('woff');
}

@font-face {
  font-family: 'apex_newlight';
  src: url("../fonts/ApexNew/ApexNew-Light-webfont.eot");
  src: url("../fonts/ApexNew/ApexNew-Light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ApexNew/ApexNew-Light-webfont.woff2") format('woff2'), url("../fonts/ApexNew/ApexNew-Light-webfont.woff") format('woff'), url("../fonts/ApexNew/ApexNew-Light-webfont.ttf") format('truetype'), url("../fonts/ApexNew/ApexNew-Light-webfont.svg#apex_newlight") format('svg');
  font-weight: normal;
  font-style: normal;
}

.nowrap {
  white-space: nowrap;
  font-family: inherit;
}

body {
  background-color: #ede9e5;
}

body * {
  font-family: 'apex_newlight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
}

ion-header-bar {
  border: dashed #00f 2px;
  background-color: #ada8a2 !important;
  border: none;
}

ion-header-bar * {
  color: #fff !important;
  font-weight: bold !important;
}

ion-content {
  background-color: #ede9e5;
}

.tab-nav.tabs {
  background-color: #ada8a2;
  border: none;
  color: #fff;
}

.tab-nav.tabs .tab-title {
  font-size: 1.5em;
}

ion-view.trophies .list.card.bar-balanced {
  background-color: #00bfff;
  border-bottom: #ada8a2 solid 5px;
  box-shadow: none;
}

ion-view.trophies .list.card.bar-balanced:before {
  border-color: #ede9e5 transparent transparent transparent;
  border-style: solid;
  border-width: 40px 40px 0 0;
  content: "";
  height: 0;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 0;
}

ion-view.trophies .list.card.bar-balanced * {
  background-color: transparent;
  border: none;
  color: #fff;
  display: inline-block;
  height: 100%;
  line-height: 1em;
  overflow: visible;
  text-overflow: clip;
  vertical-align: middle;
  white-space: normal;
}
ion-view.trophies .list.card.bar-balanced .item-divider {
  font-family: 'Molengo', sans-serif;
  width: 30%;
  font-size: 2em;
  border-right: #fff dashed 1px;
}
ion-view.trophies .list.card.bar-balanced .item-body {
  width: 69%;
  font-size: 1.3em;
  font-weight: bold;
}
ion-view.news .scroll,
ion-view.ecom .scroll {
  text-align: center;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
ion-view.news .scroll .list.card,
ion-view.ecom .scroll .list.card {
  background: #fff;
  border-bottom: #ada8a2 solid 4px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 200px;
  padding: 1vmax;
  margin: 1vmax;
}
ion-view.news .scroll .list.card .item-divider,
ion-view.ecom .scroll .list.card .item-divider {
  font-family: 'Playfair Display', serif;
  padding: 0;
  background-color: transparent;
  text-overflow: clip;
}
ion-view.news .scroll .list.card .item.item-body,
ion-view.ecom .scroll .list.card .item.item-body {
  padding: 2vh 0;
}


 // end Jeremy */

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}


/*	#map {
	  width: 100%;
	  height: 100%;
	}
	.scroll {
	  height: 100%;
	}	
*/
